h1 {
  color: #333;
  font-family: serif;
}
h1 span {
  display: inline-block;
}
h1 a {
  text-decoration: none;
}
a.link {
  color: blue;
}
li:hover a.link {
  color: red;
}
li + li,
li + a,
li + h1,
a + li,
a + a,
a + h1,
h1 + li,
h1 + a,
h1 + h1 {
  margin-top: 5px;
}
@media (orientation: landscape) {
  .responsive {
    width: 60%;
  }
}
@media (orientation: landscape) and (min-width: 481px) and (max-width: 1024px) {
  .responsive {
    width: 80%;
  }
}
@media (orientation: landscape) and (max-width: 480px) {
  .responsive {
    width: 100%;
  }
}
.widget {
  display: block;
  float: left;
  height: 5em;
}
.widget .widget--meta {
  color: #333;
}
.widget .widget--meta p {
  font-family: sans-serif;
}
.widget .widget--meta h1 {
  font-family: serif;
}
.widget .widget--meta h1 span {
  display: inline-block;
}
.widget .widget--meta h1 a {
  text-decoration: none;
  position: relative;
  overflow: auto;
}
.widget .widget--meta h1 a > span,
.widget .widget--meta h1 a > i {
  display: block;
  float: left;
}
